page-ajout-biblio {

  textarea {
    max-width: 100%;
    width: 100%;
    height: 20vh;
  }
  ul {
    padding: 20px;

    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
}
